.fees-view{
    height: auto;
    border: 1.5px solid #091057;
    margin-top: 15px;
    border-radius: 5px;
    border-top: 5px solid #091057;
    padding: 10px;
}
.fees-view .bill-form{
    height: auto;
    background-color: #fff;
    border: 0.1px solid #091057;
    border-radius: 5px;
    padding: 10px;
}
.fees-view .bill-form select option{
    text-transform: uppercase;
}
.fees-view .bill-form select{
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.7px;
}
.fees-view .bill-form label{
    letter-spacing: 0.7px;
}
.fees-view .bill-form button{
    padding: 4px 15px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    letter-spacing: 0.7px;
}
.custom-label {
    letter-spacing: 0.7px;
}
.custom-input {
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.7px;
}
.custom-input::placeholder{
    font-size: 14px;
}
.title-area-search{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #091057;
    padding: 10px 10px 9px 10px;
    margin-top: 10px;
    font-weight: 400;
}
.title-area-payments{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #091057;
    padding: 10px 10px 0px 10px;
    margin-top: 10px;
    font-weight: 400;
}
.payment-form .form-group {
    position: relative;
    margin: 12px 0px 12px 0px;
    width: 100%;
}
.payment-form .form-group input {
    width: 100%;
    padding: 14px 10px 10px 10px;
    font-size: 16px;
    border: 0.1px solid #091057;
    border-radius: 6px;
    outline: none;
}
.payment-form .form-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    color: #000;
    pointer-events: none;
    transition: 0.2s ease;
}
.payment-form .form-group select {
    width: 100%;
    padding: 14px 10px 14px 10px;
    font-size: 16px;
    border: 0.1px solid #091057;
    border-radius: 6px;
    outline: none;
}
.title-area-collection{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #091057;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    font-weight: 400;
}
.title-area-collection button {
    padding: 4px 15px;
    background-color: #091057;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.title-area-collection select{
    height: 47px;
    border: 0.1px solid #091057;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#online, #cash, #check{
    display: none;
    animation: growDown1 600ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown1 {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}