.student-view{
    height: auto;
    border: 1.5px solid #091057;
    margin-top: 15px;
    border-radius: 5px;
    border-top: 5px solid #091057;
    padding: 10px;
}
.student-view .title-area{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #091057;
    padding: 10px 10px 5px 10px;
    margin-top: 10px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.student-view .title-area a button{
    background-color: #091057;
    color: #fff;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.student-view table thead tr th{
    font-size: 14px;
    letter-spacing: 0.3px;
    border-bottom: 2px solid #091057;
}
/*student admission form */
.student-view .personal-details{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #091057;
    padding: 15px 10px 5px 10px;
    margin-top: 10px;
    font-weight: 400;
}
.student-view .personal-details label{
    font-size: 14px;
    letter-spacing: 0.3px;
}
.student-view .personal-details input[type="text"]{
    border-radius: 10px;
    text-transform: uppercase !important;
    font-size: 14px;
    height: 40px;
    padding-top: 8px;
    background-color: #9AC8CD;
}
.student-view .personal-details input[type="email"] {
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    padding-top: 8px;
    background-color: #9AC8CD;
}
.student-view .personal-details input[type="file"]{
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    padding-top: 8px;
    background-color: #9AC8CD;
}
.student-view .personal-details input[type="text"]::placeholder, 
.student-view .personal-details input[type="email"]::placeholder,
.student-view .personal-details input[type="file"]::placeholder{
    font-size: 14px!important;
    letter-spacing: 0.5px;
    text-transform: capitalize!important;
}
.student-view .personal-details input[type="date"]{
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    background-color: #9AC8CD;
}
.student-view .personal-details select{
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    background-color: #9AC8CD;
}
.radio-group {
  display: flex;
  gap: 20px;
  justify-content: right;
}
.custom-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-btn {
  position: absolute;
  left: 0;
  top: 1px;
  height: 20px;
  width: 20px;
  background-color: #f0f0f0;
  border: 2px solid #999;
  border-radius: 50%;
  transition: 0.2s;
}
.custom-radio input:checked ~ .radio-btn {
  border-color: #2196F3;
  background-color: #2196F3;
}
.radio-btn::after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .radio-btn::after {
  display: block;
}
.radio-btn::after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.student-btn input[type="submit"]{
    padding: 4px 35px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.student-btn input[type="reset"]{
    padding: 4px 35px;
    background-color: #FF004D;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}